/* ===================== */
/* ADMIN Panel CSS START */
/* ===================== */
 
#admin-content{
    padding: 100px 0;
    min-height: 750px;
}

#admin-content .admin-heading{
    font-size: 35px;
    margin: 0 0 15px;
    
}

#admin-content .add-new{
    color: #fff;
    background-color: #F79F1F;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
    /* margin: 0 0 20px; */
    display: block;
    transition: all 0.3s;
}
#admin-content .add-new:hover{
    text-shadow: 0 0 3px #000;
    box-shadow: 8px 10px 0 rgba(0,0,0,0.2);
}

#admin-content .content-table{
    border: 1px solid #000;
    width: 100%;
    margin: 0 0 20px;
}

#admin-content .content-table thead{
    color: #fff;
    background-color:#273c75;
}

#admin-content .content-table th{
    padding: 10px;
    border: 1px solid #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#admin-content .content-table tbody{
    color: #333;
}

#admin-content .content-table tbody tr{
    background-color: #e7e7e7;
}
#admin-content .content-table tbody tr:nth-child(even){
    background-color: transparent;
}
#admin-content .content-table tbody td{
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;

}

#admin-content .content-table tbody td:nth-child(2){
    text-align: left;
}

#admin-content .admin-pagination{
    margin: 0;
}
#admin-content .admin-pagination li a{
    display: block;
    height: auto;
    width: 40px;
}

.id,
.edit,
.delete{
    text-align:center;
}

form{
    background: #fff;
    padding: 25px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.13);
    align-content: center;
}

/* ===================== */
/* ADMIN Panel CSS END */
/* ===================== */